* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 7vh;
    height: fit-content;
    padding: 0 1.5rem 0 1.5rem;
    background-color: #203A6C;
}

.logo {
    width: 3rem;
    height: 3rem;
    color: white;
}

.nav-links {
    list-style: none;
    height: 100%;
    display: flex;
    justify-items: space-around;
    align-items: center;
}

ul.nav-links li a:hover {
    background-color: #2f4670;
}

ul.nav-links li a {
    padding: 0 1rem 0 1rem;
    height: 100%;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.toggle-button {
    position: absolute;
    top: 1.2rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35px;
    height: 25px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 850px) {
    .toggle-button {
        display: flex;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
    }
    
    nav {
        flex-direction: column;
        align-items: flex-start;
        padding: 0;
    }

    .logo {
        margin-left: .5rem;
    }

    .dropdown li {
        width: 100vw;
        text-align: center;
    }

    .nav-links li > a {
        display: block;
        width: 100%;
        font-size: 1.5rem;
    }
}

.dropdown-menu {
    display: none;
}

@media (min-width: 850px) {
    .dropdown {
        position: relative;
    }
    
    .dropdown-menu {
        display: inline;
        position: absolute;
        top: calc(100% + 0.25rem);
        background-color: white;
        padding: .75rem;
        border-radius: .25rem;
        box-shadow: 0 2px 5px 0 rgba(0,0,0, .1);
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }
    
    [data-dropdown].active .dropdown-menu {
        opacity: 1;
        transform: translate(10px);
    }
}